<h2><%= @title %></h2>


<div style="display: flex">
    <div style="margin-right: auto">
        <ul style='list-style-type: none;'>
            <li><a style='color: black;' href="/ryosai2020/events.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
企画一覧を見る</a></li>
<%#
            <li><p>熊野寮祭2020 公式Androidアプリは以下からダウンロードできます<br/>(Google Play および Google Play ロゴは、Google LLC の商標です。)</p>
            <a href='https://play.google.com/store/apps/details?id=com.kumano_ryo.bo40.kumanofes2020&hl=ja&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' width="50%" src='https://play.google.com/intl/ja/badges/images/generic/ja_badge_web_generic.png'/></a>
            </li>
%>
        </ul>
        </div>
    <img src='/ryosai2020/data/icon02.png' style='width: 50%; height: 50%'>
</div>
